src/main/resources/cases_court_judges.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:complexType name="case-category_type">
        <xs:attribute name=""
    </xs:complexType>



    <xs:complexType name="case-categorys_type">
        <xs:sequence>
            <xs:element name="case-category" type="case-category_type">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="case-court-judges_type">
        <xs:sequence>
            <xs:element name="case-categorys" type="case-categorys_type">
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="case-court-judges" type="case-court-judges_type"/>
</xs:schema>